!!! 5
html(lang='en')
  head
    link(rel='stylesheet', href='livePhoto.css')
    script(src='../socket.io/socket.io.js')
    script(src='livePhoto-client.js')
    title Live Photo Viewer
  body

    img#live-photo(src=newImgSrc)
